.autoComplete_wrapper > ul > li mark {
  padding: 0;
}

.autoComplete_wrapper > input {
  padding: 0 2rem 0 3.2rem !important;
  background-image: url(https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/images/search.svg) !important;
  background-size: 1.4rem !important;
  background-position: left 1.05rem top 0.8rem !important;
  background-repeat: no-repeat !important;
  background-origin: border-box !important;
}

.no_result {
  padding: 1.15rem 1rem !important;
}
